body{
    background-color:#151515 ;
    margin-left: 0;
   margin-right:0 ; 
   padding:0;
}

.inicio{
    display: flex;
    flex-direction: row;
    align-items: right;
    justify-content: space-between;

}

.banner{
    background-image:url("images/girl5.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white; 
}

.logo{
    width: 40px;
    
}
input {
    width: 90%;
    height:30px ;
    padding:20px 40px ;
    border-radius: 10px;
    font-size:20px;
    margin-top: 30px;
    background:#cecece;
    padding:30px 20px ;
    color:#931d36;
}
.nav{
    margin-top:2% ;
    display: flex;
   margin-right:50px ;
    justify-content: space-around;
    align-self: left;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding:8px 12px;
   position: relative;
   font-size: x-large;
   margin-right:100px ;
   margin-left:100px ;
}
.nav-links ul li a{
    color:#cecece;
    text-decoration:none ;
    font-size:30px;
    font-weight: 600;
}

.nav-links ul li a{
    color:#cecece;
    text-decoration:none ;
}
.nav-links ul li::after{
    content:'';
    width:0%;
    height:5px;
    background:#931d36;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width:100% ;

}
.log{
    margin-left:20px ;
    margin-right:20px ;
    font-size:20px;
    padding:10px 20px ;
    background:#ac1836;
    color:  #cecece;
    transition: 0.5s;
}


.what{
    font-size: 60px;
    text-decoration:none;
    margin-top:100px ;
    text-align: center;
    text-shadow: 2px 2px #151515 ;
}   

.in{
    color: #cecece;
}
.trial{
    margin-top:30px;
    margin-left:20px ;
    margin-right:20px ;
    font-size:20px;
    padding:10px 20px ;
    background:#ac1836;
    color:  #cecece;
    transition: 0.5s;
}
input::placeholder {
    color: #931d36;
    font-size: 1.2em;
    
  }


.how{
    width:500px;
    height:600px ;
    background-color: rgb(231, 236, 241);
}
.how1{
    
}